@charset "utf-8";
body{
	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei UI", "Microsoft Yahei",SimHei,"\5B8B\4F53",simsum,sans-serif;
}
.navbar{
/*background:#666;*/
	}

.dp{
	font-size: 14px;
}


.logo {
	padding: 15px;
	

}

#navbar-collapse  ul {
	margin-top:0;
}
/*.content{
	margin:50px 0 0 0;
	background-color: red;
	padding: 0 ;
	

}*/
.content1{
	background: #eee*/
	box-shadow: 2px 2px 3px #ccc;*/
	margin: 0  0 0 10px;*/
	padding:   ;

}
.content2{
	
}
.content2 h4{
	font-size: 19px;

}
.content2 p{
	line-height: 2;
	font-size: 16px;
}
.input_foot{
	width: 495px;
    height: 160px;
}
ul.nav-pills {
width: 200px;
}
/*ul.nav-pills.affix{
	top:30px;
}*/

/*.bs-docs-sidenav .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}*/
.pad{
	padding: 10px;
}
 ul.nav-pills{
 	width: 150px;
 }

.comment{
	width: 100px;
}

#login{margin:0 auto;
	text-align:center; 
	/*padding: 50px;
	margin: 0,0,15px,0;*/
	margin-top:150px;
} 
#join{margin:0 auto;
	height: 500px;width:500px;
	text-align:center; 
	padding: 50px;
	margin: 0,0,15px,0;
	margin-top:100px;
} 
#group{margin:0 auto;
	height: 500px;width:500px;
	text-align:center; 
	padding: 50px;
	margin: 0,0,15px,0;
	margin-top:100px;
} 
#edit{
	height: 500px;width:100%;
	text-align:center; 
	padding-left: 0px;
	
	
	
}

#log{
	margin:30px;
}

#e-map label {    max-width:none;}
#e-map div {    box-sizing: initial;}
#l-map label {    max-width:none;}
#l-map div {    box-sizing: initial;}


#footer{
	background-color:#666;
	border-top:1px solid #ccc;
	padding: 3px;
	text-align:center;
	color: #eee;
	position:fixed;bottom:0px;left:0px;right: 0px;
	

}

#groupinfo{
	padding-top: 50px;
	padding-left: 50px;
}

