@charset "utf-8";
body{
	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei UI", "Microsoft Yahei",SimHei,"\5B8B\4F53",simsum,sans-serif;
}


.dp{
	font-size: 14px;
}


.logo {
	padding: 15px;
	

}

#navbar-collapse  ul {
	margin-top:0;
}

.content1{
	background: #eee*/
	box-shadow: 2px 2px 3px #ccc;*/
	margin: 0  0 0 10px;*/
	padding:   ;

}
.content2{
	
}
.content2 h4{
	font-size: 19px;

}
.content2 p{
	line-height: 2;
	font-size: 16px;
}
.input_foot{
	width: 495px;
    height: 160px;
}
ul.nav-pills {
width: 200px;
}

.pad{
	padding: 10px;
}
 ul.nav-pills{
 	width: 150px;
 }

.comment{
	width: 100px;
}

#login{margin:0 auto;
	height: 100%;width:250px;
	text-align:center;
	/*width: 500px; */
	/*padding: 25px;*/
/*	margin: 0,0,15px,0;*/
	margin-top:100px;
} 
/*#join{margin:0 auto;
	height: 500px;width:500px;
	text-align:center; 
	padding: 50px;
	margin: 0,0,15px,0;
	margin-top:100px;
} 
#group{margin:0 auto;
	height: 500px;width:500px;
	text-align:center; 
	padding: 50px;
	margin: 0,0,15px,0;
	margin-top:100px;
} */
#edit{
	margin:0 auto;
	height: 250px;width:250px;
	text-align:center;
	/*width: 500px; */
	/*padding: 25px;*/
/*	margin: 0,0,15px,0;*/
	/*margin-top:50px;*/
	}

#e-map label {    max-width:none;}
#e-map div {    box-sizing: initial;}
#l-map label {    max-width:none;}
#l-map div {    box-sizing: initial;}
#nc{
	
}

#footer{
	background-color:#666;
	/*border-top:1px solid #ccc;*/
	padding: 5px;
	text-align:center;
	color: #eee;
	/*height: 60px;*/ 
	position: fixed-bottom; bottom: 0px;left:0px;right: 0px;
}
#footerpadding{  
  width: 100%;
  height: 60px;  
}  
#index{
	width: 200px;
	height: 100%;
}

#groupinfo{
	padding-top: 50px;
	padding-left: 50px;
}

/*小屏幕*/
@media(min-width:768px){


}

/*中屏*/
@media(min-width:992px){
	
}

}
/*大屏*/
@media(min-width:1200px){

	
}