<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/> -->
    <title>Bootstrap</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<!-- 导航 -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="index.html" class="navbar-brand"  logo >LOGO</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse " id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
        <li><a href="{{ url_for('info') }}"><span class="glyphicon glyphicon-th-list"></span> 资讯</a></li>
        <li><a href="{{ url_for('case') }}"><span class="glyphicon glyphicon-fire"></span> 案例</a></li>
        <li><a href="{{ url_for('about') }}"><span class="glyphicon glyphicon-phone"></span> 关于</a></li>
      </ul>
      
    </div>
    
  </div>
</nav>

<!-- 资讯内容 -->
<div class="jumbotron">
  <div class="container">
    <hgroup>
      <h1>关于</h1>
      <h4>本机构的成长介绍...</h4>
      
    </hgroup>
  </div>
  
</div>

<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-xs hidden-sm">
        <div class="list-group">
          <a class="list-group-item" href="#1">1.机构介绍</a>
          <a class="list-group-item" href="#2">2.加入我们</a>
          <a class="list-group-item" href="#3">3.联系方式</a>
        </div>
      </div> 
      <div class="col-md-9 about">
        <a name="1"></a>
        <h3>机构简介</h3>
        <p>北京成龙慈善基金会，由成龙先生发起创办。他早在1988年就开始以基金会的形式，成就自己及各界好友的慈善事业，在不断吸收和实践国际慈善行业操作经验的基础上，于2008年7月登记注册，正式成立了北京成龙慈善基金会。注册原始基金200万元人民币，系非公募基金会，业务主管隶属于北京市民政局，组织登记证号为：京民基证字第0020048号。</p>



        <a name="2"></a>
        <h3>公司简介</h3>
        <p>公司的组织形式。以营利为目的的社团法人。在资本主义社会获得高度发展。我国在建国后对私营公司进行了社会主义改造。国营工、商、建筑、运输等部门中实行独立经济核算的经营管理组织和某些城市中按行业划分的专业管理机构，也通称公司。近年来随着我国经济体制的改革，享有法人资格的各种公司纷纷设立，按章程从事自身的生产经营活动。</p>


        <a name="3"></a>
        <h3>加入我们</h3>
        <p>TEL:17786493932</p>
        <p>QQ邮箱：1774507011@qq.com</p>
        <p>地址：武汉市洪山区武汉交通职业学院</p>


      </div>
    </div>
  </div>
</div>







<footer id="footer">
  <div class="container">
    <p> 杨胜制作| 合作事宜 | 版权投诉</p>
    <p>邮箱：1774507011@qq.com | 2016.12.7</p>
  </div>
</footer>





<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script type="text/javascript">
 
</script>



</body>
</html> 
