<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/> -->
    <title>Bootstrap</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<!-- 导航 -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="index.html" class="navbar-brand"  logo >LOGO</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse " id="navbar-collapse">
     <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
        <li><a href="{{ url_for('info') }}"><span class="glyphicon glyphicon-th-list"></span> 资讯</a></li>
        <li><a href="{{ url_for('case') }}"><span class="glyphicon glyphicon-fire"></span> 案例</a></li>
        <li><a href="{{ url_for('about') }}"><span class="glyphicon glyphicon-phone"></span> 关于</a></li>
      </ul>
    
      
    </div>
    
  </div>
</nav>

<!-- 资讯内容 -->
<div class="jumbotron">
  <div class="container">
    <hgroup>
      <h1>案例</h1>
      <h4>和各大明星企业有着紧密的合作...</h4>
      
    </hgroup>
  </div>
  
</div>

<div id="case">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <img src="static/img/yd.jpg" alt="">
          <div class="caption">
            <h4>中国电信</h4>
            <p>中国电信集团公司官方网站,中国电信互联网门户,发布中国电信官方权威信息</p>
          </div>
        </div>
      </div>
       <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <img src="static/img/yd.jpg" alt="">
          <div class="caption">
            <h4>中国电信</h4>
            <p>中国电信集团公司官方网站,中国电信互联网门户,发布中国电信官方权威信息</p>
          </div>
        </div>
      </div>
       <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <img src="static/img/yd.jpg" alt="">
          <div class="caption">
            <h4>中国电信</h4>
            <p>中国电信集团公司官方网站,中国电信互联网门户,发布中国电信官方权威信息</p>
          </div>
        </div>
      </div>
       <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <img src="static/img/yd.jpg" alt="">
          <div class="caption">
            <h4>中国电信</h4>
            <p>中国电信集团公司官方网站,中国电信互联网门户,发布中国电信官方权威信息</p>
          </div>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <img src="static/img/yd.jpg" alt="">
          <div class="caption">
            <h4>中国电信</h4>
            <p>中国电信集团公司官方网站,中国电信互联网门户,发布中国电信官方权威信息</p>
          </div>
        </div>
      </div>
       <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <img src="static/img/yd.jpg" alt="">
          <div class="caption">
            <h4>中国电信</h4>
            <p>中国电信集团公司官方网站,中国电信互联网门户,发布中国电信官方权威信息</p>
          </div>
        </div>
      </div>
       <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <img src="static/img/yd.jpg" alt="">
          <div class="caption">
            <h4>中国电信</h4>
            <p>中国电信集团公司官方网站,中国电信互联网门户,发布中国电信官方权威信息</p>
          </div>
        </div>
      </div>
       <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <img src="static/img/yd.jpg" alt="">
          <div class="caption">
            <h4>中国电信</h4>
            <p>中国电信集团公司官方网站,中国电信互联网门户,发布中国电信官方权威信息</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







<!--底部-->
<footer id="footer">
  <div class="container">
   <p> 杨胜制作| 合作事宜 | 版权投诉</p>
    <p>邮箱：1774507011@qq.com | 2016.12.7</p>
  </div>
</footer>





<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script type="text/javascript">
 
</script>



</body>
</html> 
