
<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="container-fiuld">
  <div class="row">
    <div class="col-md-6 " id="ditu2"  >
      <div id="e-map"  ></div> 
    </div>
    <div class="col-md-6 " style=" margin-left:50%;">
     <div id="login" >
    <form class="form" method="POST">
        <h2 style="color: #666;"><span class="glyphicon glyphicon-user"></span> 个人信息</h2>
        <br>
        <label class="form">现居地址</label>
        <br><input class="form-control"  id="text_" type="text" value="" placeholder="请输入你的地址">
        <button type="button" class="btn btn-success" value="" onclick="searchByStationName();"/>查询</button><br>
        <br>
        {{ form.hidden_tag() }}
        <input type="text" class="form-control" name="position" id="result_" placeholder="查询结果">
        <br>
         <label class="form">真实姓名</label>
        <br><input class="form-control"  id="text_" type="text" name="name" value="" placeholder="请输入你的真实姓名">
        <br>
        <label class="form">电话号码</label>
        <br><input class="form-control"  id="text_" type="text" name="tel" value="" placeholder="请输入你的电话号码">
        <br>
        <button type="form.submit" class="btn btn-success" >提交</button>
       <!--  {{ form.position(id='result_')}}<br> -->
        <!-- 真实姓名：<br>{{form.name()}}<br>
        电话号码：<br>{{form.tel()}}<br> -->
        <!-- {{ form.submit() }} -->
      
      </form>
      {% include 'flash.html' %}
      </div>
    </div>
  </div>
</div>
 
 <script type="text/javascript">
var map = new BMap.Map("e-map");
map.centerAndZoom("中国",5); 


var bottom_left_navigation = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_SMALL});
map.addControl(bottom_left_navigation);  


var localSearch = new BMap.LocalSearch(map);
localSearch.enableAutoViewport(); //允许自动调节窗体大小
function searchByStationName() {
    map.clearOverlays();//清空原来的标注
    var keyword = document.getElementById("text_").value;
    localSearch.setSearchCompleteCallback(function (searchResult) {
        var poi = searchResult.getPoi(0);
        document.getElementById("result_").value = poi.point.lng + "," + poi.point.lat;
        map.centerAndZoom(poi.point, 13);
        var marker = new BMap.Marker(new BMap.Point(poi.point.lng, poi.point.lat));  // 创建标注，为要查询的地方对应的经纬度
        map.addOverlay(marker);
        marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
    });
    localSearch.search(keyword);
}


</script>

{% endblock %}
