<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="container" style="margin-left:-0px ">
  <div class="row">
    <div class="col-md-10 " style="padding-top: 50px;">
      <div id="l-map" ></div> 
    </div>
    <div class="col-md-2" style="padding-top:70px;">
      <div style="margin-bottom:100px; ">
        <form class="form" method="POST">
          {{ form.hidden_tag() }}        
          {{ form.name.label }}<br>{{ form.name(id='nc') }}   <br> 
          {{ form.submit() }}
        </form>
        {% include 'flash.html' %}
      <hr>
      <th><h4><i>{{zu.groupname}}</i></h4></th>
      <th><p4><i>成员列表({{ren_lenth}})：</i></p4></th>
    {% for role in role_list %}
      <table>
      <tr valign="top">
        <td><img src="{{g.user.avatar(40)}}"></td>
        <td>
        <p4><i>姓名:{{role.name}}</i></p4><br>
        <p4><i>电话:{{role.tel}}</i></p4>
        </td>
      </tr>
      </table>
     <br>
    {% endfor %}
      </div>
    </div>
    </div>
  </div>



 <script type="text/javascript">
var map = new BMap.Map("l-map");
map.centerAndZoom("中国",5); 


var bottom_left_navigation = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_SMALL});
map.addControl(bottom_left_navigation);  


var localSearch = new BMap.LocalSearch(map);
localSearch.enableAutoViewport(); //允许自动调节窗体大小
function searchByStationName() {
    map.clearOverlays();//清空原来的标注
    var keyword = document.getElementById("text_").value;
    localSearch.setSearchCompleteCallback(function (searchResult) {
        var poi = searchResult.getPoi(0);
        document.getElementById("result_").value = poi.point.lng + "," + poi.point.lat;
        map.centerAndZoom(poi.point, 13);
        var marker = new BMap.Marker(new BMap.Point(poi.point.lng, poi.point.lat));  // 创建标注，为要查询的地方对应的经纬度
        map.addOverlay(marker);
        marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
    });
    localSearch.search(keyword);
}


position = {{ position_list|tojson }};//python传递变量到js中
names={{ name_list|tojson }};
tel={{ tel_list|tojson }};

point = new Array(); //存放标注点经纬信息的数组  
marker = new Array(); //存放标注点对象的数组  
infoWindow=new Array(); 
for (x in position) {
   label= new BMap.Label("姓名："+names[x]+"<br/>"+"电话:"+tel[x],{offset:new BMap.Size(-50,-40)})
   
    p0 = position[x].split(",")[0];  
    p1 = position[x].split(",")[1]; 
    point[x] = new BMap.Point(p0, p1); 
    marker[x] = new BMap.Marker(point[x]);
    marker[x].setLabel(label);//在css-style中设置解决label与bootstarp的样式冲突
    map.addOverlay(marker[x]) 
}

</script>
{% endblock %}
