<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/> -->
    <title>Bootstrap</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<!-- 导航 -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="index.html" class="navbar-brand"  logo >LOGO</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse " id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
        <li><a href="{{ url_for('info') }}"><span class="glyphicon glyphicon-th-list"></span> 资讯</a></li>
        <li><a href="{{ url_for('case') }}"><span class="glyphicon glyphicon-fire"></span> 案例</a></li>
        <li><a href="{{ url_for('about') }}"><span class="glyphicon glyphicon-phone"></span> 关于</a></li>
      </ul>
    
      
    </div>
    
  </div>
</nav>

<!-- 资讯内容 -->
<div class="jumbotron">
  <div class="container">
    <hgroup>
      <h1>资讯</h1>
      <h4>企业内训的最新动态，资源等...</h4>
      
    </hgroup>
  </div>
  
</div>

<div id="information">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="container-fluid" style="padding: 0">
          <div class="row info-content">
            <div class="col-md-5 col-sm-5 col-xs-5">
              <img src="static/img/i2.jpg"  class="static/img-responsive" alt="">
            </div>
              <div class="col-md-7 col-sm-7 col-xs-7">
                <h4>传苹果明年将推iPhone 7s/7s Plus：有红色版本</h4>
                <p class="hidden-xs">业界最新传闻称，苹果明年推出的新iPhone将增添一款全新的红色版本。</p>
                <p>admin 15/ 10 / 11 /</p>
              </div>
          </div>
           <div class="row info-content">
            <div class="col-md-5 col-sm-5 col-xs-5">
              <img src="static/img/i2.jpg"  class="img-responsive" alt="">
            </div>
              <div class="col-md-7 col-sm-7 col-xs-7">
                <h4>传苹果明年将推iPhone 7s/7s Plus：有红色版本</h4>
                <p class="hidden-xs">业界最新传闻称，苹果明年推出的新iPhone将增添一款全新的红色版本。</p>
                <p>admin 15/ 10 / 11 /</p>
              </div>
          </div>
            <div class="row info-content">
            <div class="col-md-5 col-sm-5 col-xs-5">
              <img src="static/img/i2.jpg"  class="img-responsive" alt="">
            </div> 
              <div class="col-md-7 col-sm-7 col-xs-7">
                <h4>传苹果明年将推iPhone 7s/7s Plus：有红色版本</h4>
                <p class="hidden-xs">业界最新传闻称，苹果明年推出的新iPhone将增添一款全新的红色版本。</p>
                <p>admin 15/ 10 / 11 /</p>
              </div>
          </div>
            <div class="row info-content">
            <div class="col-md-5 col-sm-5 col-xs-5">
              <img src="static/img/i2.jpg"  class="img-responsive" alt="">
            </div>
              <div class="col-md-7 col-sm-7 col-xs-7">
                <h4>传苹果明年将推iPhone 7s/7s Plus：有红色版本</h4>
                <p class="hidden-xs">业界最新传闻称，苹果明年推出的新iPhone将增添一款全新的红色版本。</p>
                <p>admin 15/ 10 / 11 /</p>
              </div>
          </div>
           <div class="row info-content">
            <div class="col-md-5 col-sm-5 col-xs-5">
              <img src="static/img/i2.jpg"  class="img-responsive" alt="">
            </div>
              <div class="col-md-7 col-sm-7 col-xs-7">
                <h4>传苹果明年将推iPhone 7s/7s Plus：有红色版本</h4>
                <p class="hidden-xs">业界最新传闻称，苹果明年推出的新iPhone将增添一款全新的红色版本。</p>
                <p>admin 15/ 10 / 11 /</p>
              </div>
          </div>
            <div class="row info-content">
            <div class="col-md-5 col-sm-5 col-xs-5">
              <img src="static/img/i2.jpg"  class="img-responsive" alt="">
            </div> 
              <div class="col-md-7 col-sm-7 col-xs-7">
                <h4>传苹果明年将推iPhone 7s/7s Plus：有红色版本</h4>
                <p class="hidden-xs">业界最新传闻称，苹果明年推出的新iPhone将增添一款全新的红色版本。</p>
                <p>admin 15/ 10 / 11 /</p>
              </div>
          </div>
            <div class="row info-content">
            <div class="col-md-5 col-sm-5 col-xs-5">
              <img src="static/img/i2.jpg"  class="img-responsive" alt="">
            </div>
              <div class="col-md-7 col-sm-7 col-xs-7">
                <h4>传苹果明年将推iPhone 7s/7s Plus：有红色版本</h4>
                <p class="hidden-xs">业界最新传闻称，苹果明年推出的新iPhone将增添一款全新的红色版本。</p>
                <p>admin 15/ 10 / 11 /</p>
              </div>
          </div>
           <div class="row info-content">
            <div class="col-md-5 col-sm-5 col-xs-5">
              <img src="static/img/i2.jpg"  class="img-responsive" alt="">
            </div>
              <div class="col-md-7 col-sm-7 col-xs-7">
                <h4>传苹果明年将推iPhone 7s/7s Plus：有红色版本</h4>
                <p class="hidden-xs">业界最新传闻称，苹果明年推出的新iPhone将增添一款全新的红色版本。</p>
                <p>admin 15/ 10 / 11 /</p>
              </div>
          </div>
            <div class="row info-content">
            <div class="col-md-5 col-sm-5 col-xs-5">
              <img src="static/img/i2.jpg"  class="img-responsive" alt="">
            </div> 
              <div class="col-md-7 col-sm-7 col-xs-7">
                <h4>传苹果明年将推iPhone 7s/7s Plus：有红色版本</h4>
                <p class="hidden-xs">业界最新传闻称，苹果明年推出的新iPhone将增添一款全新的红色版本。</p>
                <p>admin 15/ 10 / 11 /</p>
              </div>
          </div>
            <div class="row info-content">
            <div class="col-md-5 col-sm-5 col-xs-5">
              <img src="static/img/i2.jpg"  class="img-responsive" alt="">
            </div>
              <div class="col-md-7 col-sm-7 col-xs-7">
                <h4>传苹果明年将推iPhone 7s/7s Plus：有红色版本</h4>
                <p class="hidden-xs">业界最新传闻称，苹果明年推出的新iPhone将增添一款全新的红色版本。</p>
                <p>admin 15/ 10 / 11 /</p>
              </div>
          </div>
           <div class="row info-content">
            <div class="col-md-5 col-sm-5 col-xs-5">
              <img src="static/img/i2.jpg"  class="img-responsive" alt="">
            </div>
              <div class="col-md-7 col-sm-7 col-xs-7">
                <h4>传苹果明年将推iPhone 7s/7s Plus：有红色版本</h4>
                <p class="hidden-xs">业界最新传闻称，苹果明年推出的新iPhone将增添一款全新的红色版本。</p>
                <p>admin 15/ 10 / 11 /</p>
              </div>
          </div>
            <div class="row info-content">
            <div class="col-md-5 col-sm-5 col-xs-5">
              <img src="static/img/i2.jpg"  class="img-responsive" alt="">
            </div> 
              <div class="col-md-7 col-sm-7 col-xs-7">
                <h4>传苹果明年将推iPhone 7s/7s Plus：有红色版本</h4>
                <p class="hidden-xs">业界最新传闻称，苹果明年推出的新iPhone将增添一款全新的红色版本。</p>
                <p>admin 15/ 10 / 11 /</p>
              </div>
          </div>
 
        </div>
      </div>
      <!-- 资讯右边 -->
      <div class="col-md-4 info-right hidden-xs hidden-sm">
      <blockquote>
        <h2 >热门资讯</h2>
      </blockquote>
        <div class="container-fluid">
          <div class="row ls ">
            <div class="col-md-5 col-sm-5 col-xs-5" style="padding:12px 0 margin=0">
              <img src="static/img/i2.jpg"  class="img-responsive" alt="">
            </div>
              
              <div class="col-md-7 col-sm-7 col-xs-7">
                <h4>传苹果明年将推iPhone 7s/7s Plus：有红色版本</h4>
                
                <p>admin 15/ 10 / 11 /</p>
              </div>
          </div>
          <div class="row  ls ">
            <div class="col-md-5 col-sm-5 col-xs-5 " style="padding:12px  0  margin=0 ">
              <img src="static/img/i2.jpg"  class="img-responsive" alt="">
            </div>
              <div class="col-md-7 col-sm-7 col-xs-7 ">
                <h4>传苹果明年将推iPhone 7s/7s Plus：有红色版本</h4>
                
                <p>admin 15/ 10 / 11 /</p>
              </div>
          </div>
        
        </div>
      </div>
        </div>
      </div>
        </div>
      </div>
        </div>
      </div>
        </div>
      </div>
        </div>
      </div>
        </div>
      </div>

    </div>
  </div>
</div>







<!--底部-->
<footer id="footer">
  <div class="container">
	<p> 杨胜制作| 合作事宜 | 版权投诉</p>
    <p>邮箱：1774507011@qq.com | 2016.12.7</p>
  </div>
</footer>





<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script type="text/javascript">
 
</script>



</body>
</html> 
