<!-- extend base layout --> 
 {% extends "base.html" %}
 

{% block content %}
<form class="form" method="POST">

<div id="login" >
	<h2 style="color: #666;" id='log'><span class="glyphicon glyphicon-user"></span> 登录</h2>

{{ form.hidden_tag() }}    
{{ form.nickname.label }}<br>{{ form.nickname(id='nc') }} <br>    
{{ form.password.label }}<br>{{ form.password(id='nc') }}   <br> 
{{ form.submit() }} 

</form>

<p>新用户？
<a href="{{ url_for('register') }}">
请注册
</a>
</p>
	{% include 'flash.html' %}
</div>
{% endblock %}